div#auctionetWrapper {
  padding: 15px 1.5%;
  font-family: "Open Sans", sans-serif;
}

div#auctionetWrapper #auctionetHeader {
  overflow: hidden;
  padding: 0 1.5%;
}

div#auctionetWrapper #auctionetHeader h2 {
  margin: 0;
  padding: .55em 0 0 0;
  float: left;
  font-size: 16px;
}

div#auctionetWrapper #auctionetHeader img {
  width: 300px;
  height: auto;
  float: right;
  float: right;
}

div#auctionetWrapper #auctionetButtons {
  overflow: hidden;
  margin: 0 1.5%;
  padding-bottom: 10px;
  text-align: right;
  border-bottom: 1px solid #f5f5f5;
}

div#auctionetWrapper #auctionetButtons a, div#auctionetWrapper #auctionetButtons a:active, div#auctionetWrapper #auctionetButtons a:visited {
  font-size: 11px;
  text-transform: uppercase;
  color: #fc2c7f;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
}

div#auctionetWrapper #auctionetButtons a:hover, div#auctionetWrapper #auctionetButtons a.active {
  text-decoration: underline;
}

div#auctionetWrapper #auctionetButtons .button-divider {
  margin-left: 10px;
  color: #888;
}

div#auctionetWrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

div#auctionetWrapper li {
  float: left;
  width: 17%;
  padding: 1.5%;
  font-size: 12px;
}

div#auctionetWrapper .object-image {
  background: url('../img/item_bg.png');
  height: 160px;
  width: 100%;
  text-align: center;
  display: table;
}

div#auctionetWrapper .object-image img {
  max-width: 100%;
  height: auto;
}

div#auctionetWrapper .object-image a {
  display: table-cell;
  line-height: 0;
  vertical-align: middle;
}


div#auctionetWrapper #external-objects {
  overflow: hidden;
}

div#auctionetWrapper #external-objects .object-link, div#auctionetWrapper #external-objects .object-link:active, div#auctionetWrapper #external-objects .object-link:visited {
  display: block;
  height: 60px;
  padding: 8px 0 5px 0;
  color: #252525;
  font-size: 14px;  
  text-decoration: none;
}

div#auctionetWrapper #external-objects .object-link:hover {
  text-decoration: underline;
  color: grey;  
}

div#auctionetWrapper #external-objects dl {
  margin-top: 3%;
  margin-bottom: 0;
  padding: 4% 6%;
  overflow: hidden;
  font-size: 12px;
}

div#auctionetWrapper #external-objects dt {
  float: left;
  width: 52%;
  min-width: 58px;
  color: #9e9e9e;
  font-weight: normal;
}

div#auctionetWrapper #external-objects dd {
  float: left;
  width: 48%;
  margin: 0;
  text-align: right;
  font-weight: bold;
}

div#auctionetWrapper #external-objects .border {
  padding-bottom: 2px;
  margin-bottom: 5px;
}

@media all and (max-width: 810px) and (min-width: 500px) {
  div#auctionetWrapper #auctionetHeader h2 {
    padding: 0;
  }

  div#auctionetWrapper #auctionetHeader img {
    width: 200px;
    height: auto;
  }

  div#auctionetWrapper li {
    width: 30%;
    padding: 1.665%;
  }  
}

@media all and (max-width: 500px) {
  div#auctionetWrapper #auctionetHeader {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
  }

  div#auctionetWrapper #auctionetHeader h2 {
    margin-bottom: 1em;
    float: none;
  }

  div#auctionetWrapper #auctionetHeader img {
    float: none;
    width: 300px;
  }

  div#auctionetWrapper li {
    float: none;
    width: 97%;
    padding: 1.5%;
    margin-bottom: 1em;
  }

  div#auctionetWrapper #external-objects .object-link, div#auctionetWrapper #external-objects .object-link:active, div#auctionetWrapper #external-objects .object-link:visited {
    height: auto;
  }

  div#auctionetWrapper #auctionetButtons a, div#auctionetWrapper #auctionetButtons .button-divider {
    margin-left: 5px;
  }
}